#breadcrumbs 
{
    background-color: #e7e8e8;
    position: relative;
    top:80px;
    padding:5px 0;
    margin-bottom: 30px;
    z-index:1;

    ul
    {
        font-size: 10px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: bold;

        li 
        {
            float:left;
            padding:0 15px;
            position: relative;

            &:after 
            {
                content: "";
                height:12px;
                border-left:1px solid $dark-grey;
                position: absolute;   
                top:3px;
                right:0px;
            }
            &:first-child
            {
                padding:0 15px 0 0;
                font-size:16px;

                i
                {
                    position: relative;
                    top: 1px;
                }
            }
            &:last-child
            {

                &:after 
                {
                    display: none;
                }
            }
            &.active
            {
                color: $blue;
            }
        }
    }
}