header 
{
    background-color: $light-grey;
    height:80px;
    padding:15px 0;
    overflow:hidden;
    position:fixed;
    z-index: 5;
    width:100%;
    @include transition-property(height);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in);

    .container 
    {

        .row 
        {
            overflow: visible;
            .twelvecol 
            {
                position: relative;

                #logo 
                {
                    float:left;

                    h1 
                    {
                        font-family: 'Pacifico', cursive;
                    }
                }
                nav 
                {
                    position: relative;
                    float:left;
                    padding-left: 20px;

                        ul 
                        {
                            height:50px;
                            overflow: hidden;

                            li 
                            {
                                float: left;
                                vertical-align: middle;
                                text-transform: uppercase;
                                font-weight: bold;
                                padding:25px 15px 0 15px;
                                font-family: 'Lato', sans-serif;
                                position: relative;

                                &:last-child 
                                {
                                    padding:25px 0 0 15px;
                                }
                            }
                        }
                        #spot 
                        {
                            content: "";
                            position: absolute;
                            top:10px;
                            width:12px;
                            height:12px;
                            @include border-radius(12px);
                            background-color: $blue;
                        }
                }

                form#search
                {
                    overflow:hidden;
                    text-align: center;
                    height:40px;
                    position: relative;
                    margin-left:2px;
                    display: none;
                    padding:5px 0;
                    @include box-sizing(initial);

                    div 
                    {
                        position: relative;
                        width:85%;
                        margin:0 auto;

                        input[type="text"]
                        {
                            width:100%;
                            height: 40px;
                            background: transparent;
                            border:0;
                            border-bottom:1px solid $dark-grey;
                            padding:2px 10px;
                            line-height:30px;
                            font-size: 30px;
                            @include border-radius(0px);
                        }
                        &:before, &:after 
                        {
                            content: "";
                            bottom:0;
                            height:7px;
                            position: absolute;
                        }
                        &:before 
                        {
                            left:0;
                            border-left:1px solid $dark-grey;
                        }
                        &:after
                        {
                            right:0;
                            border-right:1px solid $dark-grey;
                        }
                    }
                    input[type="submit"]
                    {
                        display: none;
                    }
                }

                ul#quick-bar 
                {
                    position: relative;
                    float:right;
                    li 
                    {
                        height:50px;
                        width:50px;
                        display: inline-block;
                        cursor: pointer;
                        outline: 0;
                        margin-right: 7px;
                        float:right;

                        &[title="search"] 
                        {
                            @extend .shared-search-off;

                            &.active 
                            {
                                @extend .shared-search-on;
                            }
                        }
                        &[title="basket"] 
                        {
                            @extend .shared-basket-off;
                            margin-right:0;

                            span 
                            {
                                display:none;
                                height:23px;
                                width:23px;
                                text-align: center;
                                vertical-align: middle;
                                top:-5px;
                                right:-6px;
                                background-color: $blue;
                                position: absolute;
                                @include border-radius(16px);
                                color:#fff;
                                line-height: 2em;
                                font-weight: bold;
                            }
                            &.active 
                            {
                                @extend .shared-basket;

                                span 
                                {
                                    display: block;
                                }
                            }
                        }
                        &[title="menu"] 
                        {
                            @extend .shared-menu-off;

                            &.active 
                            {
                                @extend .shared-menu-on;
                            }
                        }
                    }
                }
            }
        }
    }
    ul.mobile
    {
        position: absolute;
        top:65px;
        width: 100%;
        padding-bottom:20px;

        li
        {
            padding:35px 0 0;     
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
            position: relative;
            width:140px;
            margin:0 auto;

            &.active:before 
            {
                content: "";
                height:12px;
                width:12px;
                background-color: $blue;
                position:absolute;
                @include border-radius(12px);
                position: absolute;
                top: 19px;
                left: 64px;
            }
        }
    }
}