section#content
{

    .row 
    {

        h2
        {
            font-size:16px;
            margin: 0 0 10px;
        }
        .threecol
        {

            &:nth-child(4n)
            {
                margin-right:0;
            }
        }
        &:nth-child(2)
        {
            border-bottom:1px solid $grey;
            margin-bottom:10px;

            .fourcol:not(.last)
            {
                display: table;
                height:43px;

                div
                {
                    display: inline-block;
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            select {
                margin-bottom:10px;
                float:right;
            }
        }
    }
}
.single-product
{

    h3, h4 
    {
        font-size: 13px;
    }
    h3
    {
        margin:1px 0 0;
        font-family: 'Lato', sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h4
    {
        margin:3px 0 25px;
        font-weight: 100;
    }
}