@media handheld, only screen and (max-width: 954px) 
{
    body 
    {
        footer 
        {
            input[type=submit]
            {
                margin-top:10px;
            }
        }
    }
}
@media handheld, only screen and (max-width: 767px) 
{
    body 
    {
        .desktop 
        {
            display: none;
        }
        .mobile
        {
            display: block !important;
        }
        footer 
        {
            height:100%;

            input[type="submit"]
            {
                margin-top:0;
            }
        }
        section#content
        {

            .row 
            {

                .threecol
                {
                    text-align: center;
                }
                &:nth-child(2)
                {

                    .fourcol
                    {

                        &:nth-child(2)
                        {
                            margin-bottom: 7px;
                        }
                        &:not(.last) 
                        {
                            height:33px;
                        }
                    }
                    select 
                    {
                        float:left;
                    }
                }
            }
        }
    }
}
@media handheld, only screen and (max-width: 685px) 
{
    body 
    {
        &.search-active 
        {
            a#logo
            {
                display: none;
            }
            form#search 
            {
                margin-left:0 !important;

                div 
                {
                    margin:0 !important;
                    width:95% !important;
                }
            }
        }
    }
}
@media handheld, only screen and (max-width: 430px) 
{
    body 
    {

    }
}