{{!
    Product information
}}
<div class="row">
    <div class="fourcol">
        <img src="http://placehold.it/360x360"/>
        <div id="thumbnails">
            <img src="http://placehold.it/50x50"/>
            <img src="http://placehold.it/50x50"/>
            <img src="http://placehold.it/50x50"/>
        </div>
    </div>
    <div class="sixcol last product-information">
        <h2>Product name</h2>
        <h3>£23.50</h3>
        <div class="short-description">
            Lorizzle ipsizzle dolor check it out amet, its fo rizzle nizzle. Nullizzle sapien velizzle, brizzle volutpizzle, i saw beyonces tizzles and my pizzle went crizzle quizzle, funky fresh vizzle, arcu. Pellentesque pimpin' tortor. 
        </div>
        <div class="selection row">
            <form action="#" role="form">
                <div class="threecol">
                    <div class="quantity">
                        <input type="text" class="form-control">
                        <span><i class="icon-plus"></i></span>
                        <span><i class="icon-minus"></i></span>
                    </div>
                    <select class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="threecol last">
                    <input type="submit" value="Add to cart" class="btn btn-normal">
                </div>
            </form>
        </div>
    </div>
</div>
{{!
    Detailed product information
}}
<div class="row">
    <div class="twelvecol">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="description">
              Lorizzle ipsizzle dolor black shizzle my nizzle crocodizzle, consectetuer adipiscing tellivizzle. Nullizzle sapizzle velizzle, funky fresh volutpat, suscipizzle quizzle, gravida vel, arcu. Pellentesque shizznit gangster. Sed dizzle. Black fo shizzle mah nizzle fo rizzle, mah home g-dizzle dang doggy turpis tempus own yo'. Mauris pellentesque nibh yippiyo the bizzle. Boofron sheezy tortizzle. Pellentesque ma nizzle uhuh ... yih! ass. Shiz yippiyo habitasse platea dictumst. Dang dapibizzle. Own yo' tellizzle rizzle, pretizzle eu, mattis daahng dawg, eleifend vitae, shut the shizzle up. Crunk suscipit. Integizzle i'm in the shizzle velit sizzle black.
          </div>
        </div>
    </div>
</div>
{{!
    Related products
}}
<div class="row">
    <h3>Related products</h3>
    <div class="threecol">
        <div class="single-product">
            <img src="http://placehold.it/250x250"/>
            <h2>Product name</h2>
            <h3>£90.23</h3>
        </div>
    </div>
    <div class="threecol">
        <div class="single-product">
            <img src="http://placehold.it/250x250"/>
            <h2>Product name</h2>
            <h3>£90.23</h3>
        </div>
    </div>
    <div class="threecol">
        <div class="single-product">
            <img src="http://placehold.it/250x250"/>
            <h2>Product name</h2>
            <h3>£90.23</h3>
        </div>
    </div>
    <div class="threecol last">
        <div class="single-product">
            <img src="http://placehold.it/250x250"/>
            <h2>Product name</h2>
            <h3>£90.23</h3>
        </div>
    </div>
</div>


