<div class="row">
    {{!
        Filter options
    }}
    <section id="sidebar" class="threecol">

    </section>
    {{!
        Search results
    }}
    <section id="content" class="ninecol last">
        <div class="row">
            {{!
                Search header
            }}
            <div class="fourcol">
            </div>
            {{!
                Select sort by
            }}
            <div class="fivecol last">

            </div>
        </div>
        {{! 
            Products
        }}
        <div class="row">
            <div class="threecol">
                <div class="single-product">
                    <img src="http://placehold.it/250x250"/>
                    <h2>Product name</h2>
                    <h3>£90.23</h3>
                </div>
            </div>
            <div class="threecol">
                <div class="single-product">
                    <img src="http://placehold.it/250x250"/>
                    <h2>Product name</h2>
                    <h3>£90.23</h3>
                </div>
            </div>
            <div class="threecol">
                <div class="single-product">
                    <img src="http://placehold.it/250x250"/>
                    <h2>Product name</h2>
                    <h3>£90.23</h3>
                </div>
            </div>
            <div class="threecol">
                <div class="single-product">
                    <img src="http://placehold.it/250x250"/>
                    <h2>Product name</h2>
                    <h3>£90.23</h3>
                </div>
            </div>
            <div class="threecol">
                <div class="single-product">
                    <img src="http://placehold.it/250x250"/>
                    <h2>Product name</h2>
                    <h3>£90.23</h3>
                </div>
            </div>
        </div>
    </section>
</div>
