<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Redlight - Responsive e-commerce template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="components/normalize-css/normalize.css">
        <link rel="stylesheet" href="css/application.css">
        <link rel="stylesheet" href="components/icomoon/style.css">
        <script src="components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <div class="all-wrapper">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="twelvecol">
                            <a href="/" id="logo">
                                <h1>Redlight</h1>
                            </a>
                            <nav class="desktop">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Jewellery</a></li>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">New</a></li>
                                </ul>
                                <div id="spot"></div>
                            </nav>
                            <ul id="quick-bar">
                                <li title="basket" class="active">
                                    <span>13</span>
                                </li>
                                <li title="menu" class="mobile"></li>
                                <li title="search"></li>
                            </ul>
                            <form action="#" role="form" id="search">
                                <div>
                                    <input type="text" class="form-control" placeholder="search our products...">
                                </div>
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="mobile">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Jewellery</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">New</a></li>
                </ul>
            </header>
            <div id="breadcrumbs">
                <div class="container">
                    <ul>
                        <li><a href="#"><i class="icon-home-2"></i></a></li>
                        <li><a href="#">Jeans</a></li>
                        <li class="active">Product name</li>
                    </ul>
                </div>
            </div>
            <div class="container" role="main">
                {{> body }}
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="fourcol">
                            <h2>STORE</h2>
                            <p>Redlight theme © Copyright 2014 <br/>Tom Dallimore.</p>
                            <p>Licenced under the MIT licence.</p>
                            <p>VAT number: 000 1234 56</p>
                        </div>
                        <div class="fourcol">
                            <h2>INFO</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Terms &amp; conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="fourcol last">
                            <h2>SOCIAL</h2>
                            <p>Signup to our newsletter and keep in touch.</p>
                            <form action="#" role="form">
                                <input type="text" class="form-control">
                                <input type="submit" value="OK" class="btn btn-normal">
                            </form>
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-vimeo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="icon-feed-2"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.js"><\/script>')</script>
        <script src="components/jquery-hoverIntent/jquery.hoverIntent.js"></script>
        <script src="js/application.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
